<!DOCTYPE html>
<html lang="en">


{% block body %}
<div class="container" mt-5>
    <h2>Database "music.db", show all tracks</h2>

    <table>
        <thead>
            <tr>
                <th>Duration  </th>
                <th>ID</th>
                <th>Artist</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in tracks_info %}
            <tr>
                <td>{{ row[3] }}</td>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
</html>